@import 'partials/settings';
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/dropdown';
@import 'foundation/components/icon-bar';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';

$background-color: #923517;


h2 {
  font-family: 'Lato', sans-serif;
}

.body {
  background-image: url('../assets/bg.jpg');
  background-image: center;
  min-height: 100%;
  margin-bottom: -40px;
  border: 1px solid #aaa;
}

.header {
  background-image: url('../assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
}

.logo {
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.instagram_orange {
  background-image: url('../assets/instagram_orange.svg');
  background-repeat: no-repeat;
  height: 40px;
}

.instagram_grey {
  background-image: url('../assets/instagram_grey.svg');
  background-repeat: no-repeat;
  height: 40px;
}

ul > li > h1 > a{
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;

}

html, body {
  height: 100%;
  text-align: center;
}

.body:after {
  content: "";
  display: block;
}

.footer, .body:after {
  height: 40px;
}

.footer {
  background-color: #2C2C2E;
  text-align: center;
}

.name {
  text-align: center;
}

.row {
  display: inline-block;
  position: center;
  border: 1px solid #aaa;
  width: 80%;
}