@import 'partials/settings';
@import 'foundation/components/grid';
@import 'foundation/components/buttons';
@import 'foundation/components/dropdown';
@import 'foundation/components/icon-bar';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';

$background-color: #923517;


h2 {
  font-family: 'Lato', sans-serif;
}
* {
  margin: 0;
}

//wrap of body contents including header and footer



.header {
  background-image: url('../assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 80px;
}

//fastenate logo
.logo {
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}


section > div > div > div > p{
  display: block;
  width: 100%;
  margin-top: 50px;

}

// #plus a{
//   display: block;
//   background-color: green;
//   width: 20px;
//   color: red;
//   font-size: 15px;
//   border: 1px solid orange;
// }

.instagram_orange {
  background-image: url('../assets/instagram_orange.svg');
  background-repeat: no-repeat;
  height: 40px;
}

.instagram_grey {
  background-image: url('../assets/instagram_grey.svg');
  background-repeat: no-repeat;
  height: 40px;

}

//styling of nav bar text
ul > li > h1 > a{
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;

  > p {
    display: block;
    border: 1px solid orange;
    color: red;
  }
}

//setting for sticky footer
html, body {
  height: 100%;
  text-align: center;
}

.body {
  background-image: url('../assets/bg.jpg');
  background-image: center;
  min-height: 100%;
  overflow: auto;
  // margin-bottom: -40px;
  // border: 1px solid #aaa;
}

#bodyWrap {
  overflow: auto;
  padding-bottom: 40px
}

.body:after {
  content: "";
  display: block;
}

.footer, .body:after {
  height: 40px;
}

.footer {
  background-color: #2C2C2E;
  text-align: center;
  margin-top: -40px;
  height: 40px;
  clear: both;
}

.row {
  display: inline-block;
  position: center;
  border: 1px solid #aaa;
}

p{
  font-family: 'Lato', sans-serif;
}

//specific to text in nav bar
.name h1 a:hover {
  color: orange;
}

#instagram:hover {
  background-image: url('../assets/instagram_orange.svg');
  display: show;

}

.outsideBox {
  background-color: white;
  display: inline-block;
  position: relative;
  padding: 20px;
  margin: 20px;
  width: 700px;
  // height: 40%;
  border: 1px solid black;
  // font-family: "Arial"

  &:hover {
    border: 5px solid orange;
  }

  .images {
  // display: block;
  // position: relative;
  width: 500px;
  height: 500px;
  // max-height: auto;
  // float: left;
  margin: 10px;
  padding: 10px;
}
}

// img {
//   max-width: 100%;
//   height: auto;
// }

// .images {

//   width: 300px;
//   height: 300px;
//   margin: 10px;
//   padding: 10px;
// }

// .images {
//   width: 100%;
//   height: 50%;
// }

.title {
  font-size : 14px;
  font-weight: bold;
  font-family: "Arial Rounded MT Bold";
  color: blue;
  // padding-top: 20px;
  line-height: 14px;
  height: 28px;
  overflow: hidden;
}

.author {
  font-size : 12px;
  font-family: "Arial";
  font-weight: bold;
  padding: 20px;
}

.stuff {
  font-size : 10px;
  font-family: "Arial";
  font-weight: bold;
}

// .posts {
//   height: 500px;
// }

// .image {
//   height: 100px;
// }